ul{
    list-style-type:none;
    display:inline;
}

#sublist-id{
    display:none;
}

#first-element:hover ul{
    display:block;
    color:#908A89;
    margin-left:-30px;
}

li a {
    text-decoration:none;
    color:black;
}
 li a:hover{
     text-decoration:underline;
 }